<%- partial("includes/_navbar.ejs", { id: "About" }) %>

<main>
  <img class="hero_image" src="images/hero_image2.png" >  

  <div class="primary">
    <article>
      <h1>About</h1>
      <p>The Celtic Box Cup was founded in 2013. Since then it has grown to be Ireland's Premier International boxing tournament.</p>
      <p>Celebrating it's fifth year the Celtic Box Cup is taking place from the 29th to the 1st of October 2017. The Celtic Box Cup is hosted in Dungarvan Sports Centre on the doorstep of the Celtic sea.</p>
      <p>What is still widely considered the best contest the competition has seen can be viewed below. Recipient of the 2015 Best Male Award, the <b>Defence Forces</b>'s <b>Mark Fitzpatrick</b> takes on <b>Birtley ABC</b>'s <b>Joseph Laws</b>.</p> 
    </article>

    <div class="videoWrapper">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FCelticBoxCupDungarvan%2Fvideos%2F928025387268773%2F&show_text=0&width=540" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
  </div>

  <aside>
    <article>
      <h1>Contact</h1>
      <p><b>Email:</b><br>
      keelan@jablinked.com<br>
      <br>
      <b>Post:</b><br>
      Celtic Box Cup,<br>
      59 Murphy Place,<br> 
      Abbeyside,<br>
      Dungarvan,<br> 
      County Waterford</p>
      <a href="http://www.facebook.com/CelticBoxCupDungarvan"><img class="icon_img_size" src="images/footer/facebook.png"></a> 
    </article>
  </aside>
</main>

<%- partial("includes/_footer.ejs") %>