<%- partial("includes/_navbar.ejs", { id: "Accommodation" }) %>
<main>
  <article>
    <h1>Accommodation</h1>
    <p>The Celtic Box Cup committee has agreed discounted rates with hotels within the town of Dungarvan during the dates of the Celtic Box Cup. Accommodation can be booked by emailing or phoning the contact details below and referencing the Celtic Box Cup. Entrants are free to find alternative accommodation.</p>
  </article>

  <div class="responsive_quarter_box">
    <ul class="hotel_box">
      <li class="price">
        <img class="hotel_img" src="images/accommodation/lawlorshotel.png" alt="Lawlors Hotel">
        <h2>Lawlors Hotel</h2>
        <br>
        <span class="currency">&#8364;</span>42<span class="hotel_rate_type">PPS</span>
      </li>
      <li class="hotel_item">Breakfast Included</li>
      <li class="hotel_item">Dinner plus B&#38;B - &#8364;57 PPS</li>
      <li class="hotel_item">&nbsp;</li>
      <li class="hotel_item">800m from Venue</li>
      <hr>
      <li class="hotel_item">058-41122</li>
      <li class="hotel_item">info@lawlorshotel.com</li>
    </ul>
  </div>
  
  <div class="responsive_quarter_box">
    <ul class="hotel_box">
      <li class="price">
        <img class="hotel_img" src="images/accommodation/theparkhotel.png" alt="The Park Hotel">
        <h2>The Park Hotel</h2>
        <br>
        <span class="currency">&#8364;</span>59<span class="hotel_rate_type">PPS</span>
      </li>
      <li class="hotel_item">Breakfast Included</li>
      <li class="hotel_item">Access to pool</li>
      <li class="hotel_item">Sample text</li>
      <li class="hotel_item">1.3km from Venue</li>
      <hr>
      <li class="hotel_item">058-42899</li>
      <li class="hotel_item">eMail Placeholder</li>
    </ul>
  </div>
  
  <div class="responsive_quarter_box">
    <ul class="hotel_box">
      <li class="price">
        <img class="hotel_img" src="images/accommodation/goldcoasthotel.png" alt="Gold Coast Hotel">
        <h2>Gold Coast Hotel</h2>
        <br>
        <span class="currency">&#8364;</span>47<span class="hotel_rate_type">PPS</span>
      </li>
      <li class="hotel_item">Breakfast Included</li>
      <li class="hotel_item">Leisure Centre Access</li>
      <li class="hotel_item">Sample text</li>
      <li class="hotel_item">5.9km from Venue</li>
      <hr>
      <li class="hotel_item">058-42249</li>
      <li class="hotel_item">goldcoastholidays@eircom.net</li>
    </ul>
  </div>
  
  <div class="responsive_quarter_box">
    <ul class="hotel_box">
      <li class="price">
        <img class="hotel_img" src="images/accommodation/goldcoasthomes.png" alt="Gold Coast Homes">
        <h2>Gold Coast Lodges</h2>
        <br>
        <span class="currency">&#8364;</span>339<span class="hotel_rate_type">per lodge</span>
      </li>
      <li class="hotel_item">4 Bedrooms</li>
      <li class="hotel_item">3 nights stay</li>
      <li class="hotel_item">&#8364;85 per additional night</li>
      <li class="hotel_item">5.9km from Venue</li>
      <hr>
      <li class="hotel_item">058-42249</li>
      <li class="hotel_item">goldcoastholidays@eircom.net</li>
    </ul>
  </div>
  <div class="clear">
  </div>
</main>
<%- partial("includes/_footer.ejs") %>