<%- partial("includes/_navbar.ejs", { id: "Categories" }) %>

<main>
  <img class="hero_image" src="images/hero_image3.png" >  
  
  <div class="primary">
    <article>
      <h1>Categories</h1>
      <p><b>Male Elite</b> <em>(Without Head Guards)</em><br>
      Born between 01-01-1977 and 31-12-1998 and fought Elite opposition</p>

      <p><b>Female Elite</b> (With Head Guards)<br>
      <i>Born between 01-01-1977 and 31-12-1998 and fought Elite opposition</i></p>

      <p><b>Male Senior</b> <i>(Previously Intermediate)</i> (Without Head Guards)<br>
      <i>Born between 01-01-1977 and 31-12-1998 and didn't fight Elite opposition</i><br>
      Senior A: 16+ Bouts<br>
      Senior B: 2-15 Bouts</p>
    
      <p><b>Female Senior</b> (With Head Guards)<br>
      <i>Born between 01-01-1977 and 31-12-1998 and didn't fight Elite opposition</i><br>
      Female A: 11+ Bouts<br>
      Female B: 2-10 Bouts</p>
      
      <p><b>Male Youth</b> (With Head Guards)<br>
      <i>Born between 01-01-1999 and 31-12-2000</i><br>
      Male Youth A: 16+ Bouts<br>
      Male Youth B: 2-15 Bouts</p>
      
      <p><b>Female Youth</b> (With Head Guards)<br>
      <i>Born between 01-01-1998 and 31-12-2000</i><br>
      Female Youth A: 11+ Bouts<br>
      Female Youth B: 2-10 Bouts</p>
    </article>
  </div>

  <aside>
    <article>
      <h1>Weights</h1>
        The Celtic Box Cup takes place using Olympic Boxing weights. Catchweights will not be permitted.<br>
        <br>
        <b>Male Weight Divisions:</b><br>49kg, 52kg, 56kg, 60kg, 64kg, 69kg, 75kg, 81kg, 91kg, 91+kg<br>
        <br>
        <b>Female Weight Divisions:</b><br>48kg, 51kg, 54kg, 57kg, 60kg, 64kg, 69kg, 75kg, 81kg, 81+kg
      </h1>
    </article>
  </aside>
</main>

<%- partial("includes/_footer.ejs") %>