<%- partial("includes/_navbar.ejs", { id: "Entry" }) %>
<main>
  <img class="hero_image" src="images/hero_image4.png" >
  <div class="primary">
    <article>
      <h1>Entry</h1>
      <p>Entry will open on the 1st of June 2017 at 12 o'clock GMT. Alternative tournaments are listed for your convenience.</p>
      <p>It is suggested that you familiarise yourself with the Jablinked entry system in order to ensure you get a place.</p>
    </article>
  </div> 
  
  <aside>
    <article>
      <h1>Other Tournaments</h1>
      <ul>
        <li><a href="http://eindhovenboxcup.com/">Eindhoven Box Cup</a></li>
        <li><a href="http://www.haringeyboxingclub.com/">Haringey Box Cup</a></li>
        <li><a href="http://www.hullboxingcentre.co.uk/">Hull Box Cup</a></li>
      </ul>
    </article>
  </aside>
</main>
<%- partial("includes/_footer.ejs") %>