<%- partial("includes/_navbar.ejs", { id: "Home" }) %>

<main>
  <img class="hero_image" src="images/hero_image1.png" >  

  <article>
    <p>The Celtic Box Cup team trophy left Irish shores for the first time this year, heading down under to Queensland, Australia. <b>Boxing Queensland</b>'s team managed an impressive haul of 5 Gold medals along with 3 Silver. Queensland's middleweight <b>Hone Huni</b> also won the Best Male Award after gaining a unanimous decision victory against 2015's champion <b>Bruno Pereira</b>. Three time European Youth Gold medalist, <b>Islington</b>'s<b> Amy Broadhurst</b> scooped the Best Female Award in her first Senior tournament on Irish soil, following two convincing unanimous decisions.
    </p>
    <p>The 5th edition of the Celtic Box Cup will be held this year on the 29th September, 30th September and 1st October. Entry will open on the 1st of June 2017, entries will only be accepted through the online entry form.</p>
  </article>
  <section>
    <h3>Our Partners</h3>
      <div class="responsive_quarter_box">
        <a href="http://www.dungarvancu.ie"><img class="partner" src="images/partners/dungarvan_credit_union.png"></a>
      </div>

      <div class="responsive_quarter_box">
        <a href="http://www.jablinked.com"><img class="partner" src="images/partners/jablinked.png"></a>
      </div>

      <div class="responsive_quarter_box">
        <a href="http://www.shanley.ie"><img class="partner" src="images/partners/shanley_electrical.png"></a>
      </div>

      <div class="responsive_quarter_box">
        <a href="http://www.waterfordcouncil.ie/"><img class="partner" src="images/partners/waterford_council.png"></a>
      </div>
  </section>
</main>
<%- partial("includes/_footer.ejs")%>

