<%- partial("includes/_navbar.ejs", { id: "RollOfHonour" }) %>

<main>
  <article>
  <h1>Roll of Honour</h1>
    <p>The Celtic Box Cup has seen many Olympians and World medallists share the canvas. Each year awards are given to the best Male and Female Boxers along with the Celtic Box Cup for the team with the most medals. You can view records for these awards below along with special recognitions for some of our outstanding competitors.</p>
  </article> 
   
  <div class="awards">
    <div class="awards_year">
      <h5>2016</h5>
    </div>
      
    <div class="team_award">
      <h1>Team Award</h1>
      <p>Boxing Queensland</p>
    </div>

    <div class="male_award">
      <h1>Best Male</h1>
      <p>Hone Huni</p>
    </div>

    <div class="female_award">
      <h1>Best Female</h1>
      <p>Amy Broadhurst</p>
    </div>
    <div class="clear"></div>
  </div>

  <div class="awards">
    <div class="awards_year">
      <h5>2015</h5>
    </div>
      
    <div class="team_award">
      <h1>Team Award</h1>
      <p>Defence Forces</p>
    </div>

    <div class="male_award">
      <h1>Best Male</h1>
      <p>Mark Fitzpatrick</p>
    </div>

    <div class="female_award">
      <h1>Best Female</h1>
      <p>Kelly Harrington</p>
    </div>
    <div class="clear"></div>
  </div>

  <div class="awards">
    <div class="awards_year">
      <h5>2014</h5>
    </div>
      
    <div class="team_award">
      <h1>Team Award</h1>
      <p>Corinthians Boxing Club</p>
    </div>

    <div class="male_award">
      <h1>Best Male</h1>
      <p>Tey Lynn-Jones</p>
    </div>

    <div class="female_award">
      <h1>Best Female</h1>
      <p>Rita Soares</p>
    </div>
    <div class="clear"></div>
  </div>

  <div class="awards">
    <div class="awards_year">
      <h5>2013</h5>
    </div>
      
    <div class="team_award">
      <h1>Team Award</h1>
      <p>Defence Forces</p>
    </div>

    <div class="male_award">
      <h1>Best Male</h1>
      <p>Ashley Vanzie</p>
    </div>

    <div class="female_award">
      <h1>Best Female</h1>
      <p>Dervla Duffy</p>
    </div>
    <div class="clear"></div>
  </div>

  <section class="recognition">
    <img src="images/competitors/harrington.png">
    <article>
      <h1>Kelly Harrington</h1>
      <b>Harrington</b> won her third successive Celtic Box Cup gold medal at the 2016 edition of the tournament. The 2016 AIBA World Silver Medalist won became the first female to win three Elite titles in a row, beating <b>Boxing Queensland</b>'s World Bronze Medalist <b>Skye Nicolson</b> on a split decision in a tactical bout. <b>Harrington</b> was the recipient of the 2015 Best Female award after seeing off <b>Athlone BC</b>'s <b>Cheyanne O'Neill</b> and <b>Privilegio BC</b>'s <b>Nancy Moreira</b>.
    </article>
  </section>

  <section class="recognition">
    <img src="images/competitors/okungbowa.png">
    <article>
      <h1>Kenneth Okungbowa</h1>
      <b>Kenny</b> became the first Male competitor to win three Male Elite titles in a row. The <b>Athlone Boxing Club</b> heavyweight has dominated the 91kg division each time he has entered. He also has a number of other titles to his name including Bronze at the 2016 World University Championships and Gold at the 2016 Haringey Box Cup.
    </article>
  </section>
</main>

<%- partial("includes/_footer.ejs") %>