<div class="flex_box">
</div>
<footer>
  <div class="footer_top">
    <div class="footer_left">
      <img src="images/footer/logo_footer.png">
      <p>Ireland's premier Olympic boxing event takes place from the 28th September to the 1st October 2017. Hosted in the seaside town of Dungarvan, County Waterford, the Celtic Box Cup sees competitors from across the globe compete for the prestigious trophy.</p>
    </div>
    
    <div class="footer_right">
      <div class="footer_links">
        <h4 class="links_title"><span>LINKS</span></h4>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="categories.html">Categories</a></li>
          <li><a href="rollofhonour.html">Roll Of Honour</a></li>
          <li><a href="accommodation.html">Accommodation</a></li>
          <li><a href="location.html">Location</a></li>
          <li><a href="entry.html">Enter Now</a></li>
        </ul>
      </div>
    </div>
    <div class="clear">
    </div>
  </div>
  <div class="footer_bottom">
    <a href="http://iaba.ie"><img alt="IABA" title="IABA" src="images/footer/iaba.png"></a>
    <a href="http://eubcboxing.org"><img alt="EUBC" title="EUBC" src="images/footer/eubc.png"></a>
    <a href="http://aiba.org"><img alt="AIBA" title="AIBA" src="images/footer/aiba.png"></a>
    <a class="right_align_img" href="http://www.facebook.com/CelticBoxCupDungarvan"><img alt="Facebook" src="images/footer/facebook.png"></a>
  </div>
</footer>