<header>
  <a href="index.html"><img class="logo_top" src="images/logo.png"></a>
  <nav>
    <ul>
      <li class="logo_left"><a href="index.html"><img src="images/logo.png"></a></li>
      <li id="Home"><a href="index.html">Home</a></li>
      <li><a>About</a>
        <ul class="dropdown">
          <li id="About"><a href="about.html">About</a></li>
          <li id="Categories"><a href="categories.html">Categories</a></li>
          <li id="RollOfHonour"><a href="rollofhonour.html">Roll of Honour</a></li>
        </ul>
      </li>
      <li id="Accommodation"><a href="accommodation.html">Accommodation</a>
      <li id="Location"><a href="location.html">Location</a>
      <li id="Entry"><a href="entry.html">Entry</a>
    </ul>
  </nav>
</header>

<script>
  $("#<%=id%>").addClass("current");
</script>